p{color:red;}
h2 { color:#d31152;}
body {background-color:blanchedalmond;}
form { background-color:burlywood;border: 3px; border-radius: 5px;}
input{background-color:#ebf194;}
input[type=text]{color:rgb(109, 0, 0);}